

td { /* selector */

    text-align: center; /* property: value */

}

body {

    color:greenyellow;
}

h3 {

    color: #FC7629;
}

p {
    color: greenyellow;
}
/*h3, p {

    color: #FC7629;
}*/