

td { /* selector */

    text-align: center; /* property: value */

}

h3 {

    color: #FC7629;
}

p {
    color: greenyellow;
}

header {
    color: palevioletred;
}
/*h3, p {

    color: #FC7629;
}*/